@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

@font-face {
  font-family: 'Calsans';
  src: url('/fonts/Calsans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-calsans: 'Calsans', sans-serif;
}
